@use '../../../grid' as *;

.flags {
  @include row-flex();
}

.flag {
  @include col();
  @include size(8);
  @include size_w992(12);
  @include size_w768(24);

  & {
    padding: 10px;
  }

  &__name {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
