@use '../../../colors' as *;

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid;
  aspect-ratio: 3 / 2;

  &.success {
    background-color: var(--success-color);
  }

  &.error {
    background-color: var(--error-color);
  }
}
