<div class="wrapper">
  <div class="flags">
    @for (country of countries; track country) {
      <div class="flag">
        <h2 class="flag__name" (click)="toggleName()">
          {{ country.name[lang] }}
        </h2>
        <app-flag
          [image]="country.flag"
          [name]="country.name.en"
          class="flag__img"
          (onClick)="showPopup($event)"
        ></app-flag>
      </div>
    }
  </div>
  @if (isPopupVisible) {
    <app-popup (close)="hidePopup()">
      <img [src]="srcFlag" alt="Flag" />
    </app-popup>
  }
</div>
