<div class="wrapper" style="margin-top: 40px">
  <div class="name">
    {{ quizService.countries[quizService.correctAnswerIndex].name.ru }}
  </div>

  <div class="countries">
    @for (country of quizService.countries; track country; let index = $index) {
      <div class="country">
        <app-flag
          class="flag"
          [aspectRatio]="75"
          [success]="quizService.answerIndex > -1 && index === quizService.correctAnswerIndex"
          [error]="
            quizService.answerIndex > -1 &&
            index === quizService.answerIndex &&
            index !== quizService.correctAnswerIndex
          "
          [image]="country.flag"
          (click)="quizService.answerIndex < 0 && (quizService.answerIndex = index)"
        ></app-flag>
      </div>
    }

    @if (quizService.answerIndex > -1) {
      <div class="country">
        <app-button (click)="quizService.calcQuestion()"> Далее </app-button>
      </div>
    }
  </div>
</div>
