@use '../../../grid' as *;

.name {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.countries {
  @include row-flex();
  @include w480-block() {
    justify-content: center;
  }
}

.country {
  @include col();
  @include size(12);
  @include size-w480(19);

  & {
    margin-top: 20px;
  }
}

.flag {
  cursor: pointer;
}
