@use 'grid' as *;
@use 'colors' as *;

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: url('../public/images/dark-fibres-texture_1100-94.avif');
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  @include wrapper();
}
