.header {
  margin-bottom: 20px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);

    &:hover {
      color: var(--text-color-hover);
    }

    h1 {
      margin: 40px 0 0;

      app-icon {
        position: relative;
        top: 5px;
      }
    }
  }
}
