@use '../../../colors' as *;

button {
  width: 100%;
  padding: 20px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

  &.success {
    background-color: var(--success-color);
    color: var(--text-color);
  }

  &.error {
    background-color: var(--error-color);
    color: var(--text-color);
  }
}
