<div class="wrapper">
  <app-flag [image]="quizService.countries[quizService.correctAnswerIndex].flag"></app-flag>

  <div class="countries">
    @for (country of quizService.countries; track country; let index = $index) {
      <app-button
        [success]="quizService.answerIndex > -1 && index === quizService.correctAnswerIndex"
        [error]="
          quizService.answerIndex > -1 &&
          index === quizService.answerIndex &&
          index !== quizService.correctAnswerIndex
        "
        (click)="quizService.answerIndex < 0 && (quizService.answerIndex = index)"
      >
        {{ country.name.ru }}
      </app-button>
    }

    @if (quizService.answerIndex > -1) {
      <app-button (click)="quizService.calcQuestion()">Далее</app-button>
    }
  </div>
</div>
