@use '../../../grid' as *;

img {
  margin-top: 40px;
}

.countries {
  @include row-flex();
}

.country + .country {
  margin-top: 20px;
}

.country {
  @include col();
  @include size(12);
  @include size-w768(24);

  & {
    margin-top: 20px;
  }
}
