<div class="wrapper">
  <app-flag [image]="quizService.countries[quizService.correctAnswerIndex].flag"></app-flag>

  <div class="countries">
    @for (country of quizService.countries; track country; let index = $index) {
      <app-button
        [country]="true"
        [success]="quizService.answerIndex > -1 && index === quizService.correctAnswerIndex"
        [error]="
          quizService.answerIndex > -1 &&
          index === quizService.answerIndex &&
          index !== quizService.correctAnswerIndex
        "
        (click)="onAnswer(index)"
      >
        {{ country.name.ru }}
      </app-button>
    }

    @if (!tg.isMiniApp$.value && quizService.answerIndex > -1) {
      <app-button [country]="true" (click)="onNext()">Далее</app-button>
    }
  </div>
</div>
