<div class="wrapper">
  <img
    [src]="
      'images/flags/' +
      quizService.countries[quizService.correctAnswerIndex].flag[0]
    "
    alt="Flag"
    (click)="quizService.calcQuestion()"
  />

  <div class="countries">
    @for (country of quizService.countries; track country; let index = $index) {
      <div class="country">
        <button
          [class.success]="
            quizService.answerIndex > -1 &&
            index === quizService.correctAnswerIndex
          "
          [class.error]="
            quizService.answerIndex > -1 &&
            index === quizService.answerIndex &&
            index !== quizService.correctAnswerIndex
          "
          (click)="quizService.answerIndex = index"
        >
          {{ country.name.ru }}
        </button>
      </div>
    }
  </div>
</div>
