@use 'colors' as *;

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: url('assets/dark-fibres-texture_1100-94.avif');
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
