@use '../../../grid' as *;

.wrapper {
  @include wrapper();

  img {
    margin-top: 40px;
  }

  .countries {
    @include row-flex();
  }

  .country {
    @include col();
    @include size(24);

    & {
      margin-top: 20px;
    }
  }

  button {
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    &.success {
      background-color: green;
      color: white;
    }

    &.error {
      background-color: red;
      color: white;
    }
  }
}
