<div class="wrapper">
  <div class="flags">
    @for (flag of flags; track flag) {
      <div class="flag">
        @if (Array.isArray(flag.flag)) {
          @for (img of flag.flag; track $index) {
            <img
              [src]="'images/flags/' + img"
              [alt]="flag.country.en"
              class="flag__img"
            />
          }
        } @else {
          <img
            [src]="'images/flags/' + flag.flag"
            [alt]="flag.country.en"
            class="flag__img"
          />
        }
        <h2 class="flag__name">{{ flag.country.ru }}</h2>
      </div>
    }
  </div>
</div>
