<div class="wrapper">
  <div class="name">
    {{ quizService.countries[quizService.correctAnswerIndex].name.ru }}
  </div>

  <div class="countries">
    @for (country of quizService.countries; track country; let index = $index) {
      <app-flag
        class="flag"
        [aspectRatio]="75"
        [success]="quizService.answerIndex > -1 && index === quizService.correctAnswerIndex"
        [error]="
          quizService.answerIndex > -1 &&
          index === quizService.answerIndex &&
          index !== quizService.correctAnswerIndex
        "
        [image]="country.flag"
        (click)="quizService.answerIndex < 0 && (quizService.answerIndex = index)"
      ></app-flag>
    }

    @if (quizService.answerIndex > -1) {
      <app-button (click)="quizService.calcQuestion()">Далее</app-button>
    }
  </div>
</div>
